<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <span>My Header</span> -->
        <mat-icon
            class="example-icon"
            routerLink="/"
            routerLinkActive="mat-accent"
            [routerLinkActiveOptions]="{exact:true}"
        >
            home
        </mat-icon>
        <span class="example-spacer"></span>
        <mat-icon
            *ngIf="userIsAuthenticated"
            class="example-icon"
            routerLink="/create"
            routerLinkActive="mat-accent"
        >
            edit
        </mat-icon>
        <!-- login -->
        <mat-icon
            *ngIf="!userIsAuthenticated"
            class="example-icon"
            routerLink="/auth/login"
            routerLinkActive="mat-accent"
        >
            check
        </mat-icon>
        <!-- logout -->
        <mat-icon
            *ngIf="userIsAuthenticated"
            (click)="onLogout()"
            class="example-icon"
            routerLink="/auth//login"
            routerLinkActive="mat-accent"
        >
            close
        </mat-icon>
        <mat-icon
            *ngIf="!userIsAuthenticated"
            class="example-icon"
            routerLink="/auth//signup"
            routerLinkActive="mat-accent"
        >
            how_to_reg
        </mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
