<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <span>My Header</span> -->
        <mat-icon
            class="example-icon"
            routerLink="/"
            routerLinkActive="mat-accent"
            [routerLinkActiveOptions]="{exact:true}"
        >
            home
        </mat-icon>
        <span class="example-spacer"></span>
        <mat-icon
            class="example-icon"
            routerLink="/create"
            routerLinkActive="mat-accent"
        >
            edit
        </mat-icon>
        <mat-icon
            class="example-icon"
            routerLink="/login"
            routerLinkActive="mat-accent"
        >
            how_to_reg
        </mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
